* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    height: 100vh;
    background: linear-gradient(#492968, #311b46);

}
.content {
    width: 30%;
    margin: 0 auto;
    padding-top: 25vh;
}

a {
    color: rgb(185, 175, 175);
    font: 500 22px 'Montserrat', sans-serif;
    margin-right: 30px;
    cursor: pointer;
}

a.active {
    color: #fff;
    border-bottom: 2px solid rgb(243, 203, 74);
}

.input {
    background-color: #84789390;
    border: none;
    border-radius: 20px;
    margin-bottom: 7px;
    padding: 15px 0 15px 10px;
    cursor: pointer;
    color: #fff;
    font: 500 16px 'Montserrat', sans-serif;
}

.input:focus {
    outline: none;
    border: solid 1px rgb(183, 105, 208);
    box-shadow: rgba(160, 160, 160, 0.399) 0px 2px 8px 0px;
}

form #btn {
    background-color: #F3CB4A;
    border: none;
    border-radius: 20px;
    margin-bottom: 7px;
    padding-bottom: 25px;
    color: white;
    font: 500 14px 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

#btn:disabled {
    background-color: rgba(185, 175, 175, 0.555);
}