.sign {
    margin: 0 0 70px 15px;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    color: rgb(185, 175, 175);
    font: 500 14px 'Montserrat', sans-serif;
    padding: 0 0 8px 15px;
}

.checkbox {
    display: flex;
    margin: 10px 0 35px 15px;
    cursor: pointer;
    color: white;
    font: 500 14px 'Montserrat', sans-serif;
}

#checkbox {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    accent-color: rgb(243, 203, 74);
}

#checkbox::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: rgb(243, 203, 74);
    cursor: pointer;
}

#checkbox:checked::after {
    width: 0;
}

.checkbox label {
    padding-top: 3px;
}

.forgotPass {
    border-top: 1px solid #f0e5e562;
    padding-top: 50px;
    text-align: center;
    cursor: pointer;
}