.sign {
    margin: 0 0 70px 15px;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    color: rgb(185, 175, 175);
    font: 500 14px 'Montserrat', sans-serif;
    padding: 0 0 8px 15px;
}

.checkbox {
    display: flex;
    margin: 10px 0 35px 15px;
    cursor: pointer;
    color: white;
    font: 500 14px 'Montserrat', sans-serif;
}

.checkbox input {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

.checkbox input::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: rgb(243, 203, 74);
    cursor: pointer;
}

.checkbox input:checked::after {
    width: 0;
}

.checkbox label {
    padding-top: 3px;
}

form button {
    background-color: rgba(171, 145, 123, 0.563);
    border: none;
    border-radius: 20px;
    margin-bottom: 7px;
    padding-bottom: 25px;
    color: white;
    font: 500 14px 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

form .forgotPass {
    border-top: 1px solid #f0e5e562;
    padding-top: 50px;
    text-align: center;
    cursor: pointer;
}




